@import url("https://cdn.statically.io/gh/elad2412/the-new-css-reset/main/css/reset.min.css");

html {
  background: #fff;
  -webkit-text-size-adjust:100%
}
body {
  background: #fff;
  color: #333;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  max-width: 720px;
  padding: 0 8px
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  font-weight:400
}
h1{margin:0.67rem 0}
h2{margin:0.83rem 0}
h3{margin:1rem 0}
h4{margin:1.33rem 0}
h5{margin:1.67rem 0}
h6{margin:2.33rem 0}
.fs-1,h1{font-size:2rem}
.fs-2,h2{font-size:1.5rem}
.fs-3,h3{font-size:1.17rem}
.fs-4,h4{font-size:1rem}
.fs-5,h5{font-size:0.83rem}
.fs-6,h6{font-size:0.67rem}

p {
  color: #333;
  display: block;
  font-size: 16px;
  margin: 1rem 0
}

a {
  color: #1a73e8;
  outline: 0;
  text-decoration: none;
  word-break: break-word
}
a:hover{text-decoration:none}
a:focus{text-decoration:underline}

b,strong{font-weight:bolder}
i{font-style:italic}

img{max-width:100%;height:auto;pointer-events:none}
img:not([src]):not([srcset]){visibility:hidden}

.footer {
  border-top: 1px solid #dee2e6;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center
}
.footer p {
  margin: 0
}
.footer p:nth-child(1) {
  color: #70757a;
  font-size: small
}
.footer p:nth-child(1) a {
  color: #70757a;
  text-decoration: underline
}
.footer p:nth-child(1) b {
  font-weight: 400
}
.footer a {
  color: #333
}
