@import url("https://cdn.statically.io/gh/elad2412/the-new-css-reset/main/css/reset.min.css");

html {
  background: #fff;
  -webkit-text-size-adjust:100%
}
body {
  background: #fff;
  color: #333;
  font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,"Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  margin: auto;
  max-width: 720px;
  padding: 0 8px
}

h1,h2,h3,h4,h5,h6 {
  display: block;
  font-weight:400
}

h1{margin:0.67rem 0}
h2{margin:1.66rem 0 0.83rem}
h3{margin:2rem 0 1rem}
h4{margin:2.66rem 0 1.33rem}
h5{margin:3.34rem 0 1.67rem}
h6{margin:4.66rem 0 2.33rem}

h1,.fs-1{font-size:2rem}
h2,.fs-2{font-size:1.5rem}
h3,.fs-3{font-size:1.17rem}
h4,.fs-4{font-size:1rem}
h5,.fs-5{font-size:0.83rem}
h6,.fs-6{font-size:0.67rem}

p {
  color: #333;
  display: block;
  font-size: 16px;
  margin: 1rem 0
}

a {
  color: #1a73e8;
  outline: 0;
  text-decoration: none;
  word-break: break-word
}
a:hover{text-decoration:none}
a:focus{text-decoration:underline}

b,strong{font-weight:bolder}
i{font-style:italic}

img{max-width:100%;height:auto;pointer-events:none}
img:not([src]):not([srcset]){visibility:hidden}

.footer {
  border-top: 1px solid #dee2e6;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  padding-top: 1rem;
  text-align: center
}
.footer p {
  margin: 0
}
.footer p:nth-child(1) {
  color: #70757a;
  font-size: small
}
.footer p:nth-child(1) a {
  color: #70757a;
  text-decoration: underline
}
.footer p:nth-child(1) b {
  font-weight: 400
}
.footer a {
  color: #333
}
