header {
  background: #deeafd;
  border-radius: 4px;
  clear: both;
  margin: 1.5rem auto;
  padding: 16px;
  width: 300px
}
header::before,header::after {
  color: #1da1f2;
  display: block;
  font-weight: 500
}
header::before {
  content: "Izinkan JavaScript melalui setelan browser untuk mengakses Kocek.co"
}
header::after {
  content: "Gunakan browser Google Chrome untuk kompatibilitas yang lebih baik.";
  margin-top: 1em
}
